@model DevWorksCapstone.Models.Message
@*ForEmployers*@
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MessageToSend" class="control-label"></label>
                <input asp-for="MessageToSend" class="form-control" />
                <span asp-validation-for="MessageToSend" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="EmployerId" />
            <input type="hidden" asp-for="DeveloperName" />
            <input type="hidden" asp-for="EmployerName" />
            <input type="hidden" asp-for="DeveloperEmail" />
            <input type="hidden" asp-for="EmployerEmail" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
