@model DevWorksCapstone.Models.Message
@*ForEmployers*@
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>

<hr />
<div class="">
    <div class="col-md-12">
        <form asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MessageToSend" class="control-label"></label>
                <textarea type="text" style="min-width: 100%; min-height:320px;" asp-for="MessageToSend" class="form-control"></textarea>
                <span asp-validation-for="MessageToSend" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="EmployerId" />
            <input type="hidden" asp-for="DeveloperId" />
            <input type="hidden" asp-for="DeveloperName" />
            <input type="hidden" asp-for="EmployerName" />
            <input type="hidden" asp-for="DeveloperEmail" />
            <input type="hidden" asp-for="EmployerEmail" />
            <input type="hidden" asp-for="Sender" />

            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" style="margin-top: 5px;"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
