@model DevWorksCapstone.Models.Listing

@{
    ViewData["Title"] = "CreateListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Listing</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateListing">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateLookingFor" class="control-label"></label>
                <input asp-for="RateLookingFor" class="form-control" />
                <span asp-validation-for="RateLookingFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionsOpen" class="control-label"></label>
                <input asp-for="PositionsOpen" class="form-control" />
                <span asp-validation-for="PositionsOpen" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="EmployerId" class="control-label"></label>
            <select asp-for="EmployerId" class ="form-control" asp-items="ViewBag.EmployerId"></select>
        </div>
        <div class="form-group">
            <label asp-for="EmployerName" class="control-label"></label>
            <input asp-for="EmployerName" class="form-control" />
            <span asp-validation-for="EmployerName" class="text-danger"></span>
        </div>*@
            <div class="container">
                @using (Html.BeginForm("Index", "Home"))
                {
                    foreach (var item in Model.AllAbilities)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedAbilities"
                                       value="@item.Value"
                                       @if (Model.SelectedAbilities.Contains(item.Value)) { <text> checked </text> } /> @item.Text
                                </label>
                            </div>
                        }
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" style="float:left; margin: 20px 0 20px 0; " value="Submit" />
                        </div>
                    }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
