@model IEnumerable<DevWorksCapstone.Models.Message>

@{
    ViewData["Title"] = "ViewConversation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Conversation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Sender
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var content = 0;
        } 
        @foreach (var item in Model)
        {
            if (item.Sender == item.DeveloperId)
            {
                content = item.DeveloperId;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeveloperName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageToSend)
                    </td>

                </tr>
            }
            if (item.Sender == item.EmployerId)
            {
                <tr>
                    <td>
                        You
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageToSend)
                    </td>
                    
                </tr>
            }
        }
    </tbody>

</table>
<button style="float:right" class="btn btn-primary">
    <a asp-action="Contact" style="color:white" asp-route-id="@content">Contact</a>
</button>
