@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Welcome to DevWorks</h1>
    <img style="width: 70vw; height: 65vh;" src="~/lib/developersWorking.jpg" />
</div>
