@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Welcome to DevWorks</h1>
    <img style="width: 60vw; height: 60vh;" src="~/lib/developerWorking.jpg" />
</div>
